{{ partial "header" . }}
{{ partial "close-header" . }}

{{ partial "navbar" . }}
<h1 class="list-title">
{{ .Title }}
{{ with .OutputFormats.Get "RSS" }}
<a href="{{ .RelPermalink }}" type="application/rss+xml" target="_blank" class="rss"><i class="fas fa-rss-square"></i></a>
{{ end }}
</h1>

{{ range (.Paginate .Data.Pages).Pages }}
<article class="project">
	<a href="{{ .Permalink }}">
		<div class="article-image" style="background-image: url({{ $.Site.BaseURL }}images/{{ with .Params.image }}{{ . }}{{ else }}default.jpg{{ end }});"></div>
	</a>
	<section>
			<a href="{{ .Permalink }}">
				<h2 class="title">{{ .Title }}</h2>
				{{ with .Description }}<h4 class="desc">{{ . }}</h4>{{ end }}
			</a>
			{{ partial "date-mn-yr" . }}
			{{ partial "categories" . }}
			{{ partial "project-links" . }}
			<div class="summary">{{ .Summary }}</div>
			<div class="post-split"></div>
			{{ partial "tags" . }}
			{{ if .Truncated }}
			<a class="continue" href="{{ .Permalink }}">
				<i class="fas fa-ellipsis-h" title="Continue reading..." alt="Continue reading..."></i>
			</a>
			{{ end }}
	</section>
</article>
{{ end }}

{{ partial "pagination.html" . }}

{{ partial "footer.html" . }}
