{{ $ := .root }}
{{ $page := .page }}

<h2>Recent Talks/Posters</h2>
<ul>
{{ range first 5 ( where $.Site.RegularPages "Type" "talk" ) }}
	<li>
	{{ $pub := . }}
	<strong>{{ with .Params.slidesUrl }}<a href="{{ . }}">{{ end }}{{ .Title }}{{ with .Params.slidesUrl }}</a>{{ end }}</strong>:
	<em>
		{{ .Date.Format "2 January 2006" }},
		{{ with $pub.Params.venuelink }} <a href="{{ . }}"> {{ end }}
		{{ .Params.venue }}.
		{{ with $pub.Params.venuelink }} </a> {{ end }}
	</em>
	{{ partial "paper-buttons" . }}
	</li>
{{ end }}
</ul>

{{ if ( gt ( len ( where $.Site.RegularPages "Type" "talk" ) ) 5 ) }}
<a href="{{ $.Site.BaseURL }}/talk">More...</a>
{{ end }}