{{ partial "header" . }}

<script type="application/ld+json">
	{
		"@context": "http://schema.org",
		"@type": "BlogPosting",
		"mainEntityOfPage":{
			"@type":"WebPage",
			"@id":"{{ .Site.BaseURL }}"
		},
		"headline": "{{ .Title }} | {{ .Site.Params.titlefull }} {{ .Site.Params.titlesub}}",
		"image": {
			"@type": "ImageObject",
			"url": "",
			"height": 700,
			"width": 700
		},
		"datePublished": "{{ .Date.Format "2006-01-02T15:04:05JST" }}",
		"dateModified": "{{ .Date.Format "2006-01-02T15:04:05JST" }}",
		"author": {
			"@type": "Person",
			"name": "{{ .Site.Params.author }}",
			"image": "{{ .Site.BaseURL }}images/{{ .Site.Params.avatar }}"
		},
		"publisher": {
			"@type": "Organization",
			"name": "{{ .Site.Copyright }}",
			"logo": {
				"@type": "ImageObject",
				"url": "{{ .Site.BaseURL }}images/logo.png",
				"height": 60,
				"width": 60
			}
		},
		"description": "{{ .Description }}"
	}
</script>

{{ partial "social-js" . }}

<link rel="bookmark" href="{{ .Permalink }}" />

{{ partial "close-header" . }}

{{ partial "navbar" . }}

<article class="single">
	<img class="pure-img" src="{{ $.Site.BaseURL }}images/{{ with .Params.image }}{{ . }}{{ else }}default.jpg{{ end }}"></img>

	<div class="body">
		<h1>{{ .Title }}</h1>
		{{ with .Description }}<h4 class="desc">{{ . }}</h4>{{ end }}
		{{ partial "date" . }}
		{{ partial "tags" . }}
		{{ partial "categories" . }}
		<div class="post-split"></div>
		{{ .Content }}
	</div>

	{{ partial "social" . }}

</article>

{{ partial "footer" . }}