<section class="social">
	{{ with .Site.Social.bandcamp }}
	<a href="https://{{ . }}.bandcamp.com/" alt="Bandcamp" title="Bandcamp"><i class="fab fa-bandcamp"></i></a>
	{{ end }}

	{{ with .Site.Social.github }}
	<a href="http://github.com/{{ . }}" alt="GitHub" title="GitHub"><i class="fab fa-github"></i></a>
	{{ end }}

	{{ with .Site.Social.email }}
	<a href="mailto:{{ . }}" alt="Email" title="Email"><i class="fas fa-envelope"></i></a>
	{{ end }}

	{{ with .Site.Social.twitter }}
	<a href="http://twitter.com/{{ . }}" alt="Twitter" title="Twitter"><i class="fab fa-twitter"></i></a>
	{{ end }}

	{{ with .Site.Social.linkedin }}
	<a href="http://linkedin.com/in/{{ . }}" alt="LinkedIn" title="LinkedIn"><i class="fab fa-linkedin"></i></a>
	{{ end }}

	{{ with .Site.Social.stackoverflow }}
	<a href="http://stackoverflow.com/{{ . }}" alt="Stack Overflow" title="Stack Overflow"><i class="fab fa-stack-overflow"></i></a>
	{{ end }}

	{{ with .Site.Social.keybase }}
	<a href="https://keybase.io/{{ . }}" alt="Keybase" title="Keybase"><i class="fas fa-key"></i></a>
	{{ end }}
</section>