{{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
<nav class="paging">
	{{ if .Paginator.HasPrev }}
	<a href="{{ .RelPermalink }}page/{{ .Paginator.Prev.PageNumber }}" rel="nofollow"><i class="fas fa-chevron-left"></i> PREV</a>
	{{ end }}

	{{ if and .Paginator.HasPrev .Paginator.HasNext }}
	<span class="paging-divider">|</span>
	{{ end }}

	{{ if .Paginator.HasNext }}
	<a href="{{ .RelPermalink }}page/{{ .Paginator.Next.PageNumber }}" rel="nofollow">NEXT <i class="fas fa-chevron-right"></i></a>
	{{ end }}
</nav>
{{ end }}
