.navbar {
	background-color: #1f1c18;/*#1d150c;*/
	color: #ffffff;
	font-size: 1.33em;
}

.navbar a {
	color: #ffffff;
	text-decoration: none;
	font-weight: /*bold*/normal;
}

@keyframes navhover {
	0%   {
		color: #ffffff;
	}
	100% {
		color: #d65f10;
	}
}

@keyframes reghover {
	0%   {
		color: #d65f10;
		border-color: #d65f10;
	}
	100% {
		color: #ff771d;
		border-color: #ff771d;
	}
}

.navbar a:hover {
	color: #d65f10;
	text-decoration: none;

	animation-name: navhover;
	animation-duration: 0.2s;
	animation-timing-function: ease;
}

.navbar-split {
	height: 2px;
	width: 80%;
	max-width: 6em;
	background: linear-gradient(
		to right,
		rgba(60,56,52,0),
		rgb(60, 56, 52),
		rgba(60,56,52,0));
	margin: 0.5em auto;
	clear: left;
}

.navbar-header {
	text-align: center;
	padding-top: 1.5em;
}

.navbar-header > a::after {
	content: " $";
}

.navbar-body {
	max-width: 21em;
	margin: 0 auto;
}

.navbar-body-buffer {
	margin: 0 1em;
	justify-content: center;
}

.navbar-body div {
	text-align: center;
}

.navbar-body a::before, article :target::before {
	content: ">";
}

nav a::before, nav a::after, a {
	color: #d65f10;
	border-color: #d65f10;
}

article :target::before {
	content: ">";
}

article :target::after {
	content: "<";
}

article :target::before, article :target::after {
	color: #d65f10;
}

body {
	background-color: rgb(238, 232, 224);/*rgb(239,239,239);*/
}

.content > div {
	padding: 0.5em;
	max-width: 48em;
	font-family: "Alegreya", "Lora", serif;
	color: #2f261b;
}

article p {
	text-indent: 1em;
}

p:first-of-type,
div.post-split + p,
.content hr + p,
.content h1 + p,
.content h2 + p,
.content h3 + p,
.content h4 + p,
.content h5 + p,
.content h6 + p {
	text-indent: 0em;
}

article .body {
	font-size: 1.05em
}

html, button, input, select, textarea, .pure-g [class *= "pure-u"] {
	font-family: "Alegreya", "Lora", Georgia, Times, "Times New Roman", serif;
}

section.social {
	padding: 0em 0 1em;
}

.social {
	text-align: center;
}

.home {
	margin-top: 3em;
}

.avatar {
	max-width: 16em;
	margin: 0 auto;
}

.avatar > img {
	border-radius: 100%;
}

section#publications {
	/*#9c907f*/
	/*#d4c0a6*/
	border-left: #d4c0a6 5px solid;
    padding: 0 1em;
}

footer {
	text-align: center;
	color: #9c907f/*#8c8c8c*/;
}

footer p {
	margin: 0;
}

a {
	text-decoration: none;
	font-weight: bold;
}

.paper-btn {
	border: 1px solid;
	border-radius: 0.25em;
	padding: 0 0.25em;
	white-space: nowrap;
	display: inline-block;
	margin: 0.05em 0;
}

.content a:hover {
	text-decoration: underline;
	color: #ff771d;
	border-color: #ff771d;

	animation-name: reghover;
	animation-duration: 0.2s;
	animation-timing-function: ease;
}

.share {
	font-size: 1.5em;
}

.social > a {
	margin: 0 0.15em;
}

.article-image {
	width: 100%;
	height: 7.6rem;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.article-image-big {
	width: 100%;
	height: 10.6rem;
}

article {
	background-color: white;
	margin-bottom: 1em;
	padding: 0.75em;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.4),
		inset 0px 0px 50px 3px rgba(0,0,0,0.04);
}

article.project {
	padding: 0em;
	height: 100%;
	position: relative;
}

article.project .article-image {
	height: 100%;
	width: 20%;
	position: absolute;
	top: 0;
	bottom: 0;
	box-shadow: inset 0px 0px 20px 2px rgba(0, 0, 0, 0.5);
}

article.project:nth-child(even) .article-image {
	left: 0;
}

article.project:nth-child(odd) .article-image {
	right: 0;
}

article.project section {
	width: 70%;
	padding: 0.8em;
}

article.project:nth-child(even) section {
	margin-left: 20%;
}

article.project:nth-child(odd) section {
	margin-right: 20%;
}

.list-title, .pub-year {
	margin-left: 1rem;
}

.home-about {
	text-align: center;
	font-size: 1.3em;
	padding: 0;
}

.home-about em {
	color: #3cb5bf/*#d65f10*/;
}

.paging {
	text-align: center;
	margin-bottom: 0.3em;
}

.paging-divider {
	margin: 0 1em;
}

.category-holder {
	margin: 1em 0 0;
}

h4.desc {
	margin: -1.5em 0 1.5em;
}

h3.date {
	margin: -1em 0 -0.25em;
}

h3.links {
	margin: 0 0 0.25em;
}

.post-split, hr {
	height: 2px;
	width: 80%;
	background-color: #eee8e0;
	margin: 1em auto 0;
	clear: left;
}

hr {
	width: 70%;
	border-style: none;
}

@keyframes cathover {
	0%   {
		background-color: #1f1c18;
	}
	100% {
		background-color: #d65f10;
	}
}

a.category {
	padding: 0.2em 0.38em;
	background-color: #1f1c18;
	color: white;
	border-bottom: 0.2em solid #d65f10;
	cursor: pointer;
}

a.category:hover {
	background-color: #d65f10;
	color: white;
	text-decoration: none;

	animation-name: cathover;
	animation-duration: 0.2s;
	animation-timing-function: ease;
}

a.tag {
	font-weight: normal;
}

a.tag:hover {
	
}

a.tag:not(:last-child)::after {
	content: ",";
}

.categorywrap {
	display: inline-block;
	margin-bottom: 1em;
}

.tag-holder {
	margin-top: 1em;
}

a.continue i {
	font-size: 1.5em;
	width: 100%;
	text-align: center;
	margin-top: 0.4em;
}

a.rss {
	font-size: 0.7em;
}

#notfound {
	text-align: center;
}

code {
	font-family: "Fira Mono",monospace;
	font-size: 0.8em;
}

.highlight pre {
	padding: 0.2em;
}

/*
* iPhone 6 starting res
* Only want padding in this band of device widths, screw the iPhone 5/SE/Whatever.
*/
@media (min-width: 23em) {
	.home-about {
		padding: 0 1em;
	}
}

/*med devices*/
@media (min-width: 48em) {
	.navbar {
		position: fixed;
		top: 0;
		bottom: 0;
		max-width: 16em;
	}

	.navbar-split {
		margin: 1em auto;
	}

	.content {
		margin-left: 25%;
	}

	.content > div {
		padding: 2em 3em 1em;
	}

	nav.navbar ul {
		padding: 0;
		margin: 0 23%;
	}

	nav.navbar ul > li {
		display: block;
	}

	.home {
		margin-top: 0em;
	}

	.home-about {
		font-size: 1.5em;
		padding: 0;
	}

	.article-image-big {
		height: 13.6rem;
	}

	article.project section {
		width: 70%;
		padding: 1.2em;
	}
}

/*larger ones*/
@media (min-width: 64em) {
	article {
		padding: 2em;
	}

	.article-image-big {
		height: 16.6rem;
	}
}